/* start contact pages */
.emdad-contact-form {
    margin-bottom: 25px;
}
#map {
 width: 100%;
 height: 420px;
 }
.emdad-contact-social-links{
    justify-content: center;
}
.emdad-contact-block-border { 
    min-height: 155px; 
}
.emdad-rounded{
    border-radius: 10px;
}
.emdad-contact-icon { 
    margin-top: -25px; 
}
.emdad-contact-caption { 
    background-image: url(../images/contact-caption-back.jpg); 
}
.emdad-rounded-btn:hover {
    color: #fff;
}

.emdad-single-gallery-pg{
    font-size: 14px;
    line-height: 18px;
    padding: 11px 25px;
}
.emdad-single-gallery-pg:hover{
    color: #fff;
}
/* end contact us pages  */